.git
.cache
.pnpm-store
.secrets
.local
**/node_modules
**/.next
**/.venv
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/target
**/.terraform
**/*.tfstate*
**/*.tfvars
**/*.tfplan
**/.env*
**/*.pem
**/*.key
proto-*-install.log
.moon/cache
